.page-404 {
    background-color: #ececec;
}

.page-404 .logo {
    max-width: 60%;
    width: 100%;
    height: auto;
    float: right;
    margin-right: 7rem;
}

.page-404 .text {
    padding-top: 10em;
}

.page-404 .text .lead {
    text-align: left;
    font-weight: 100;
    font-size: 1.2em;
}

@media screen and (max-width: 691px) {
    .page-404 .logo {
        max-width: unset; 
        margin-right: unset;
        float: unset;
    }

    .page-404 .text {
        padding-top: 2em;
    }
}