header nav .logo {
    height: 90px;
    margin-top: -15px;
}

@media screen and (max-width: 991px) {
    header nav .navbar-brand {
        order: 2;
        margin: 0 auto;
        padding: 0;
    }

    header nav .logo {
        width: 95px;
        height: auto;
        margin-top: 0px;
    }
}