.product_search .search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.product_search .search-form .search-field {
    width: 70%;
    background-color: #FFF;
    padding: .857em 1.214em;
    color: #818181;
    outline: 0;
    border: 0;
    -webkit-appearance: none;
    border-radius: 1.571em;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    height: 47px;
}

.product_search .search-form .btn-buscar {
    background-color: #0066cc;
    color: white;
    border-radius: 1.571em;
    margin-left: 20px;
    padding: 10px 30px;
    font-size: .875rem;
    border-width: 0;
    display: inline-block;
    border-color: #efecec;
    transition: all .2s ease-in-out;
    height: 47px;
}  

.header-search .header-search-container {
    width: 65%;
    min-width: 320px;
}

.header-search .header-search-container .search-form {
    position: relative;
}

.header-search .header-search-container .search-form .search-field {
    width: 100%;
    min-width: 320px;
}

.header-search .header-search-container .search-form .icon-buscar {
    border: none;
    background: transparent;
    position: absolute;
    right: 20px;
}

@media screen and (max-width: 691px) {
    .product_search .search-form .search-field {
        width: 60%;
    }
}