.cart-product .photo {
    max-width: 100px;
    margin: auto;
    height: 92px;
    width: auto;
    border: 1px solid #ddd;
    padding: 4px;
}

.cart-product button {
    background: transparent;
    border: none;
}

.cart-product button i {
    color: #a7a7a7;
    font-size: 1.5em;
}